

#MainContainer{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#TittleCont{
  display: grid;
  place-items: center;
  height:100vh;
  width: 75vw;
  margin-left: 20vw;
}


#tittleWrapper{
  background-color: rgb(255, 255, 255);
}



