.whiteline {
    border-bottom: 1px solid #ccc; /* Adjust the color and thickness as needed */
    margin: 10px 0; /* Adjust the spacing as needed */
  }
  
  .beigeline {
    border-bottom: 1px solid #ccc; /* Adjust the color and thickness as needed */
    margin: 10px 0; /* Adjust the spacing as needed */
  }
  
  .blueline {
    border-bottom: 1px solid #ccc; /* Adjust the color and thickness as needed */
    margin: 10px 0; /* Adjust the spacing as needed */
  }





#TitleCont{
  display: flex;
  flex-direction: column;
  align-items: start;
}



#DocsMain{
  background-color: aqua;
}